body {
  font-family: 'Audiowide', cursive;
}
* {
  margin: 0;
  padding: 0;
  /*including paddings borders in elms' total width and height*/
  -moz-box-sizing: border-box; /*Firefox*/
  -ms-box-sizing: border-box; /*IE*/
  -webkit-box-sizing: border-box; /*Chrome and Safari*/
  box-sizing: border-box;
  /*disabling selection of elms*/
  -moz-user-select: none; /*Firefox*/
  -ms-user-select: none; /*IE*/
  -webkit-user-select: none; /*Chrome and Safari*/
  user-select: none;
}
/** GAME RULES **/
@import url('https://fonts.googleapis.com/css?family=Coiny');
#welcome-card {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  font-family: 'Play', sans-serif;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: #E3EECD;
  text-align: center;
  /*display: none;*/
  display: flex;
  align-items: center; /*vertical alignment*/
  justify-content: center; /*horizontal alignment*/
}
.how-to-play-head, .how-to-play-body, .how-to-play-bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}
.how-to-play-head {
  color: #D26839;
}
h1 {
  margin: 0 0 10px;
  display: block;
  font-size: 2.25em; /* 36px/ 16px browser default's */ 
  text-transform: uppercase;
}
h2 {
  color: #71A596;
}
.how-to-play-body {
  font-size: 20px;
  color: #2D3E4A;
  font-weight: 400;
}
.p-wrapper {
  padding: 30px;
  max-width: 800px;
  text-align: left; 
  margin: 0 auto;`
}
.how-to-play-bottom {
  color: #D26839;
}
.how-to-play-bottom button {
  width: 160px;
  height: 60px;
  padding: 0 20px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: #D67133;
  cursor: cell;
  outline: none;
  margin-bottom: 0px;
}
.how-to-play-bottom button:hover {
  color: #D67133;
  border: 2px solid #D67133;
  background-color: transparent;
}

/** GAME BOARD **/
.header {
  border-radius: 5px 5px 0 0;
  /*background-color: rgba(255,255,255,0.9);*/
  /*color: darkgrey;*/
  background-color: black;
  padding: 3px;
  /*width: 40%;*/
  margin: 0px 4px;
  margin-bottom: 0px;
  /*width: 580px;*/
  margin-top: 5px;
}
div.players-container {
  border-bottom: 1px solid #660099;
  border-radius: 5px 5px 0 0;
  background-color: #00065a;
  display: flex;

  align-items: center;
  justify-content: center;
}
ul.player-area {
  background-color: #00065a;*/
  display: flex; 
  justify-content: space-evenly; /*horizonatl m alignment*/
  align-items: center; /*vertical alignment*/
}
ul.left-area li, ul.mid-area li, ul.right-area li {
  display: inline-block;
}
ul.left-area, ul.mid-area, ul.right-area {
  flex-grow: 1; /* default 0 */
}
ul.left-area,  ul.mid-area, ul.right-area {
  text-align: center;
}
ul li {
  list-style: none;
}
span, button {
  height: 34px;
  padding: 0 10px;
  font-size: 14px;
}
button {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 2px;
  letter-spacing: 0.5px;
}
button#new-game:hover {
  cursor: pointer;
}
.accessible:hover {
  cursor: cell;
}
button#new-game {
  border: 2px solid #73AD21;
  background-color: #AFC97E;
}
li button#attack-btn {
    background-color: #a70000;
    color:  #000;
}
li button#attack-btn, li button#defend-btn, li button#new-game {
    padding: 0 10px;
}
button#defend-btn {
  background-color: white;
}
ul.player-area li img {
  width: 30px;
  vertical-align: bottom;
}
ul.player-area li img.pl2-img {
  transform: rotate(270deg);
}
ul.player-area li:first-child, ul.player-area li:last-child {
  background-color: #00065a;
  color: #9055A2;
  padding-top: 6px;
  padding-bottom: 6px;
}
li span#pl1-health-pts, li span#pl2-health-pts  {
  font-weight: 600;
}
div.timeline-container {
  padding: 8px;
  margin: 0;
  text-align: center;
}
div span#timeline {
  font-family: 'Chakra Petch', sans-serif;
  margin: 0 auto;
  color: #9055A2;
  font-size: 14px;
  letter-spacing: 0.5px;
}
table#game-board {
  text-align: center;
  border: 3px solid black;
  background-color: rgba(255,255,255,0.9) !important;
  color: darkgrey;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}
#game-board td {
  width: 50px;
  height: 50px;
  border: 0.5px solid lightgrey;
}
tr { 
  padding: 5px; 
}
/*created dynamically*/
.wall { 
  width: 96%;
  height: 96%;
  border-radius: 2px;
  background: radial-gradient(circle, black, darkgrey);
}
.weapon {
  background-color: #CEF3FF;
  background-repeat: no-repeat;
  background-position: center;
}
.weapon {
  background-size: 70%;
}
.weapon-0 {
  background-image: url('../images/weapon-oc.png');
}
.weapon-1 {
  background-image: url('../images/weapon-html.png');
}
.weapon-2 {
  background-image: url('../images/weapon-css.png');
}
.weapon-3 {
  background-image: url('../images/weapon-js.png');
}
.weapon-4 {
  background-image: url('../images/weapon-c++.png');
}
.player {
  background-size: 90%;
  background-color: #FFA711;
  background-repeat: no-repeat;
  background-position: center;
}
.player1 {
  background-image: url('../images/player1.png') !important;
}
.player2 {
  background-image: url('../images/player2.png') !important;
}
.accessible {
  background-color: #FDF3B7;
}

/** GAME OVER **/
#opacity-layer { /*Game Over' pop-up window*/
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  opacity: 0.8;
  position: fixed; 
  background-color: black; 
  z-index: 10;
  display: none;
}
#results-card {
  z-index: 10;
  position: fixed;
  width: 500px; 
  height: auto;
  /*display: none;*/
  text-align: center;
}
#popUp-body {
  background: white;
  border-radius: 5px 5px 0 0;
  height: 210px;
  border-style: solid;
  border-width: 2px 2px 0px 2px;
  border-color: #FFA60C;
  text-align: center;
}
div#winner-img-wrapper {
  position: relative; 
  width: 120px;
  height: 120px; 
  margin: 10px auto;
}
div#winner-img-wrapper img#winner-img {
  width: 120px;
  width: 120px;
  padding: 15px 0 5px;
}
#popUp-body h2#winner-heading {
  padding-top: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 3px;
  color: #4d0000;  /* dark purple */
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
#popUp-body p#winner-p {
  color: #4d0000;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#popUp-footer {
  background-color: #FDF4B6;
  height: 90px; 
  padding: 15px; 
  border-style: solid;
  border-width: 0px 2px 2px 2px; 
  border-color: #FFA60C;
  border-bottom-right-radius: 7px; 
  border-bottom-left-radius: 7px;
  text-align: center;
}
button#resultsCard_Btn {
  width: 160px;
  height: 60px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
  border-radius: 8px;
  background-color: #FFA60C;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

/** MEDIA QUERIES **/
@media only screen and (min-width: 320px) and (max-width: 736px) { /*before mini iPad + device sizes*/
  .header {
    border-radius: 0px;
  }
  div.players-container {
    border-radius: 0;
  }
  table#game-board {
    border-radius: 0;
  }
}
@media only screen and (max-width: 360px) {
  h2 {
    font-size: 1.25em; /*20px/16px (browser default)*/
  }
  .how-to-play-bottom button {
    width: 120px;
    height: 50px
  }
  .how-to-play-body {
    font-size: .9375em; /*15px/16px (browser default)*/
    color: #2D3E4A;
  }
  .p-wrapper {
    padding: 20px;
    text-align: center;
  }
  .how-to-play-bottom {
    margin-top: 0px;
  }
  .header {
    margin: 0;
    border-radius: 0px;
  }
  ul.left-area li, ul.mid-area li, ul.right-area li {
    display: inline-block;
  }
}
@media only screen and (min-width: 360px) and (max-width: 736px) {
  .header {
    margin: 0;
    width: 100%;
    text-align: center; 
  }
  button {
    padding: 0 5px;
    font-size: 10px;
  }
  span {
     font-size: 10px; 
  }
  li span#pl2-health-pts, li span#pl1-health-pts {
    font-weight: 600;
    font-size: 10px;
    padding: 0 5px;
  }
  li button#attack-btn, li button#defend-btn, li button#new-game {
     padding: 0 4px; 
  }
  #game-board {
    width: 100%;
    height: 100vh;
  }
}
@media only screen and (min-width: 737px) {
  .game-outer-container {
    background-image:
    linear-gradient(
      to right, 
      red, 
      #f06d06, 
      rgb(255, 255, 0), 
      green
    );
    
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .game-innerr-container {
    padding: 20px;
  }
}
